<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>W0.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,36},{23,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,7},{23,35}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>W1.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,0},{11,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,7},{11,35}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>W2.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,36},{23,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,7},{23,35}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>W3.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,0},{23,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,7},{23,35}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>W4.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,72},{23,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,7},{23,35}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>W5.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,72},{23,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,7},{23,35}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>W6.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,0},{23,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,7},{23,35}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>W7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,72},{23,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,7},{23,35}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>W8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,36},{23,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,7},{23,35}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>W9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{23,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,7},{23,35}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>Wnumber.png</string>
			</dict>
		</dict>
</plist>