<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>C0.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,14},{21,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,8},{21,13}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>C1.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,14},{21,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,11},{21,5}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>C2.png</key>
			<dict>
				<key>frame</key>
				<string>{{22,14},{21,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,8},{21,13}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>C3.png</key>
			<dict>
				<key>frame</key>
				<string>{{22,0},{21,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,8},{21,13}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>C4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,14},{21,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,8},{21,13}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>C5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{21,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,8},{21,13}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>C6.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,0},{21,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,8},{21,13}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>C7.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,0},{21,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,8},{21,13}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>C8.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,14},{21,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,8},{21,13}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>C9.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,0},{21,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,8},{21,13}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,32}</string>
			<key>textureFileName</key>
			<string>Cnumber.png</string>
			</dict>
		</dict>
</plist>