<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,0},{21,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{21,31}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,32},{10,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,4},{10,31}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,32},{21,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{21,31}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,0},{21,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{21,31}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,32},{21,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{21,31}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,0},{21,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{21,31}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{22,32},{21,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{21,31}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{22,0},{21,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{21,31}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,32},{21,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{21,31}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{21,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{21,31}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,64}</string>
			<key>textureFileName</key>
			<string>closetNum.png</string>
			</dict>
		</dict>
</plist>